html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
}
body{
    width: 80%;
    margin: auto;
   text-align: center;
}
.form-box{
    
}
.photo{
    display: inline-block;
    width: 30%;
    height: 100%;
}
.photo img{
    margin-right: 4rem;
}
.input-box{
    display: inline-block; 
    margin-bottom: 10rem;  
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    
}
.input{
    display: block;
    padding: 1rem;
    margin-bottom: 2.5rem;
}
.register{
    padding: 1rem 10rem;
    background-color: blueviolet;
    color: cornsilk;
}